@import "tailwindcss";

:root {
  --background: var(--color-amber-50);
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
}

.title {
  margin: 0;
  padding: 16px;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
  box-shadow: none !important;
  /* border-color: transparent !important; */
}

.white-image {
  filter: brightness(0) invert(1);
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-card-bg {
  background: linear-gradient(120deg, #064d5b, #0a9396, #94d2bd, #0a9396, #064d5b);
  background-size: 200% 200%;
  animation: gradientFlow 10s infinite linear;
}
